:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --secondary-black:#282623;
    --grey: #BABABA;
    --secondary-white:#FAF8F7;
    --grey-text:#757575;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
    
}
.header-title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}
.header-title-container h1{
    font-size: 2.4rem;
    color: #fff;
}
.header-title-container p{
    margin-top: 20px;
    font-size: 1.4rem;
    color: var(--soft-orange);
}
.header-title-container .header-button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--secondary-white);
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    color: var(--warm-black);
}
.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
}

main{
    width: 100%;
    height: auto;
    background-color: #FAF8F7;
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
       
}
.main-exchange-container .background-image{
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url("../assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
} 
.main-exchange-container-title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    color: var(--warm-black);
    margin-bottom: 30px;
}
.main-exchange-container-title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--grey-text);
    margin-bottom: 30px;
}
.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;

}
.main-currency-table  .currency-table-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:var(--bitcoin-orange);
}
.currency-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin:0 auto;
    position: relative;
}
.currency-table-container table{
    width: 100%;
    height: 100%;
}
.currency-table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: #FAF8F7;
}
.currency-table-container .table__topleft{
    border-radius: 15px 0 0 0;
}
.currency-table-container .table__topright{
    border-radius: 0 15px 0 0;
}
.currency-table-container .table__bottomleft{
    border-radius: 0 0 0 15px;
}
.currency-table-container .table__bottomright{
    border-radius: 0 0 15px 0;
}
.currency-table-container .table__right{
    font-weight: 400;
    color: var(--grey-text);
    line-height: 1.6rem;
}
.table__right .down{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
}
.table__right .up{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-up.svg");
}
.currency-table-date{
    background-color: var(--soft-orange);
    border-radius: 8px;
    padding: 8px;
    width: 190px;
    height: 31px;
    margin: 0 auto;
    margin-top: 15px;
    top: 15px;
}
.currency-table-date p{
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: var(--warm-black);
}
.main-product-detail{
    background-color: var(--warm-black);
    width: 100%;
    min-width: 288px;
    height: auto;
    padding: 20px 10px;
    color: #fff;
    position: relative;
    

}
 .main-product-logo{
    position: absolute;
    width: 41px;
    height: 25px;
    background-image: url("../assets/icons/batata.svg");
    top:-10px;
    left: calc(50% - 20px);

} 
.main-product-detail .main-product-title{
    width: 90%;
    max-width: 900px;
    min-width: 288px;
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
}
.main-product-detail .main-product-title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
}
.main-product-detail .main-product-title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
    margin-top: 15px;
}
.main-product-cards{
    width: 90%;
    max-width: 400px;
    min-width: 288px;
    height: 150px;
    margin: 15px auto;
    margin-top: 34px;
    background-color: var(--secondary-black);
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.main-product-cards h2{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    font-style: normal;
    margin-top: 12px;
}
.main-product-cards p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-top: 10px;
}
.main-product-time span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../assets/icons/clock.svg);
}
.main-product-tasas span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../assets/icons/eye.svg);
}
.main-product-coins span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../assets/icons/dollar-sign.svg);
}
.main-product-information span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../assets/icons/check-circle.svg);
}
.main-conocelo-container{
    width: 100%;
    min-width: 320px;
    height: 80vh;
    background-image: url(../assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-conocelo-container h2{
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #fff;
    padding-top: 60px;
}